body {
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#date {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  text-decoration: dotted;
}

#location {
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

#weather-icon1 {
  width: 360px;
  height: 360px;
  background-color: #6da6f6;
  margin-top: 30px;

  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

#weather-icon2 {
  width: 360px;
  height: 250px;
  background-color: #6da6f6;
  margin-top: -190px;

  margin-left: auto;
  margin-right: auto;
  border-radius: 0%;
}

#weather-icon3 {
  width: 300px;
  height: 150px;
  background-color: #ffc124;
  margin-top: -150px;

  margin-left: auto;
  margin-right: auto;
  border-radius: 150px 150px 0 0;
}

#temperature {
  font-size: 250px;
  color: #6da6f6;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: -30px;
  margin-left: 20px;
}

#unit {
  font-size: 20px;
}

#button {
  position: absolute;
  bottom: 50px;
  right: 30px;
}
